<!DOCTYPE html>
<html lang="pt-br" th:replace="~{layout :: layout (~{:: title}, ~{:: main})}">

<head>
	<title>Spring Fundamentos - Home</title>
</head>

<body>

	<main class="container">
		<div class="row">
			<div class="col-sm-12">
				<h1>Olá, Treinaweb</h1>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<p>[[${boasVindas}]]</p>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<p th:utext ="${aulas}"></p>
			</div>
		</div>
				<div class="row">
			<div class="col-sm-12">
				<p>Lista de Aulas</p>
				<ul>
				<!--
					<li th:text ="${aulas[0]}"></li>
					<li th:text ="${aulas[1]}"></li>
					<li th:text ="${aulas[2]}"></li>	
				-->		
				<li th:each="aula : ${aulas}" th:text="${aula}"></li>
				</ul>
	
			</div>
		</div>
	</main>


</body>

</html>